<h6 class="content">{{name}}</h6>

<div class="row status">
  <label  for="input-name" 
          class="col-sm-1" style="margin-top:5px">
          Статус лице:
  </label>
  <div class="col-sm-3">               
    <ngx-ctllist
        [items] = vliststatus
        [formGroup]="mainForm" 
        controlName="statusL">
    </ngx-ctllist>
  </div>

  <div class="col-sm-8" align = "right">
      <div fxFlex="100" fxLayoutAlign="end center">
          <button nbButton 
              [disabled]="click"
              (click)="save()">
                Запис
          </button>

          <button nbButton 
              class="button-next" 
              (click)="back()">
                  Назад
          </button>
      </div>                  
  </div>   
</div>

<nb-card>
  <nb-card-body>
    <form [formGroup]="mainForm">
      <nb-tabset>
        <nb-tab tabTitle="Лични данни">
          <div class="step-container-1">
            <table  class="page1">
                <colgroup>
                  <col span="1" style="width: 50%;">
                  <col span="1" style="width: 50%;">
                </colgroup>

                <tbody>
                  <tr>
                    <td class="tdright">
                        Вид
                    </td>
                    <td>
                      <ngx-ctllist
                        [items] = vidLice
                        [formGroup]="mainForm" 
                        controlName="typeLice">
                      </ngx-ctllist>
                    </td>
                  </tr>

                  <tr>
                    <td class="tdright">
                        Вид идентификатор
                    </td>
                    <td>
                      <ngx-ctllist
                        [items] = vidIdent
                        [formGroup]="mainForm" 
                        (selectionChanged)="onIdentifierSelectionChange($event)"
                        controlName="vidIdent">
                      </ngx-ctllist>
                    </td>
                  </tr>

                  <tr>
                    <td class="tdright">
                        Идентификатор
                    </td>
                    <td>
                      <ngx-ctltextbox
                        [formGroup]="mainForm" 
                        controlName="ident"
                        isNumberOnly="true"
                        maxlength="10">
                    </ngx-ctltextbox>
                    </td>
                  </tr>

                  <tr>
                    <td class="tdright">
                        Име, Презиме и Фамилия
                    </td>
                    <td>
                      <ngx-ctltextbox
                        [formGroup]="mainForm" 
                        controlName="ime">
                      </ngx-ctltextbox>
                    </td>
                  </tr>

                  <tr>
                    <td class="tdright">
                        Номер на лична карта
                    </td>
                    <td>
                      <ngx-ctltextbox
                        [formGroup]="mainForm" 
                        controlName="nomLk"
                        isNumberOnly="true"
                        maxlength="9">
                    </ngx-ctltextbox>
                    </td>
                  </tr>   

                  <tr>
                    <td class="tdright">
                        Дата на издаване
                    </td>
                    <td>
                        <ngx-ctldatepicker
                            [formGroup]="mainForm" 
                            controlName="dataIzdavane">
                        </ngx-ctldatepicker>                               
                    </td>
                  </tr>           
              
                  <tr>
                    <td class="tdright">
                      Кандидатствам за подмяна на отоплително устройство на дърва/въглища:
                    </td>
                    <td>
                      <ngx-ctllist 
                          [items]="vlistv8" 
                          [formGroup]="mainForm" 
                          controlName="nv8">
                      </ngx-ctllist>
                    </td>
                  </tr>                
                </tbody>  
              </table>
            </div>

            <div align="right" style="margin-top: 5px;">
              <button nbButton 
                      status="primary" 
                      [disabled] ="mainForm.get('typeLice').value > 3"
                      (click)="editFormuliar()" >
                  Формуляр
              </button>
            </div>
        </nb-tab>

        <nb-tab tabTitle="Адрес и контакти">
          <div class="step-container">
              <table  class="page1">
                  <colgroup>
                    <col span="1" style="width: 50%;">
                    <col span="1" style="width: 50%;">
                  </colgroup>

                  <tbody>
                    <tr>
                      <td class="tdright">
                          Район
                      </td>
                      <td>
                        <ngx-ctllist
                          [items] = raioni
                          [formGroup]="mainForm" 
                          controlName="admRaion">
                        </ngx-ctllist>
                      </td>
                    </tr>      
                    
                    <tr>
                      <td class="tdright">
                            Населено място (гр./с.)
                        </td>
                        <td>
                          <ngx-ctllist
                            [items] = nasmesta
                            [formGroup]="mainForm" 
                            controlName="nasMqsto">
                          </ngx-ctllist>
                      </td>
                    </tr>
              
                    <tr>
                      <td class="tdright">
                          Квартал/ж.к.
                      </td>
                      <td>
                        <ngx-ctllist
                          [items] = kvartali
                          [formGroup]="mainForm" 
                          controlName="jk">
                        </ngx-ctllist>
                      </td>
                    </tr>
              
                    <tr>
                      <td class="tdright">
                          Улица/булевард
                      </td>
                      <td>
                        <ngx-ctllist
                          [items] = ulici
                          [formGroup]="mainForm" 
                          controlName="ulica">
                        </ngx-ctllist>
                    </tr>
              
                    <tr>
                      <td class="tdright">
                          Номер
                      </td>
                      <td>
                        <ngx-ctltextbox
                          [formGroup]="mainForm" 
                          controlName="nomer">
                        </ngx-ctltextbox>
                      </td>
                    </tr>      
                    
                    <tr>
                      <td class="tdright">
                          Блок
                      </td>
                      <td>
                        <ngx-ctltextbox
                          [formGroup]="mainForm" 
                          controlName="blok">
                        </ngx-ctltextbox>
                      </td>
                    </tr>      
              
                    <tr>
                      <td class="tdright">
                          Вход
                      </td>
                      <td>
                        <ngx-ctltextbox
                          [formGroup]="mainForm" 
                          controlName="vhod">
                        </ngx-ctltextbox>
                      </td>
                    </tr>      
                    
                    <tr>
                      <td class="tdright">
                          Етаж
                      </td>
                      <td>
                        <ngx-ctltextbox
                          [formGroup]="mainForm" 
                          controlName="etaj">
                        </ngx-ctltextbox>
                      </td>
                    </tr>  
              
                    <tr>
                      <td class="tdright">
                          Апартамент
                      </td>
                      <td>
                        <ngx-ctltextbox
                          [formGroup]="mainForm" 
                          controlName="apart">
                        </ngx-ctltextbox>
                      </td>  
                    </tr>  
              
                    <tr>
                      <td class="tdright">
                          Пощенски код
                      </td>
                      <td>
                        <ngx-ctltextbox
                          [formGroup]="mainForm" 
                          controlName="postKode">
                        </ngx-ctltextbox>
                      </td>  
                    </tr>  
              
                    <tr>
                      <td class="tdright">
                          Електронен адрес (email)
                      </td>
                      <td>
                        <ngx-ctltextbox
                          [formGroup]="mainForm" 
                          controlName="email">
                        </ngx-ctltextbox>
                      </td>  
                    </tr>  
              
                    <tr>
                      <td class="tdright">
                          Телефон
                      </td>
                      <td>
                        <ngx-ctltextbox
                          [formGroup]="mainForm" 
                          controlName="telefon">
                        </ngx-ctltextbox>
                      </td>  
                    </tr>  
                  </tbody>  
                </table>    
            </div>           
        </nb-tab>

        <nb-tab tabTitle="Точки" [disabled] ="mainForm.get('typeLice').value > 3">
          <div class="step-container">
            <table  class="page1">
              <colgroup>
                <col span="1" style="width: 50%;">
                <col span="1" style="width: 50%;">
              </colgroup>

              <tbody>
                <tr>
                  <td class="tdright">
                        Точки 1.
                    </td>
                    <td class="rightinpput">
                      <ngx-ctlnumber                      
                          [formGroup]="mainForm" 
                          controlName="tochki1">
                      </ngx-ctlnumber>
                    </td>
                </tr>

                <tr>
                  <td class="tdright">
                    Точки 2.
                  </td>
                  <td class="rightinpput">
                    <ngx-ctlnumber
                      [formGroup]="mainForm" 
                      controlName="tochki2">
                    </ngx-ctlnumber>
                  </td>
              </tr>

                <tr>
                  <td class="tdright">
                    Точки 3.
                  </td>
                  <td class="rightinpput">
                    <ngx-ctlnumber
                        [formGroup]="mainForm" 
                        controlName="tochki3">
                    </ngx-ctlnumber>
                  </td>
              </tr>

                <tr>
                  <td class="tdright">
                    Точки от въпроси 16 и 17.
                  </td>
                  <td class="rightinpput">
                    <ngx-ctlnumber
                      [formGroup]="mainForm" 
                      controlName="tochki4">
                    </ngx-ctlnumber>
                  </td>
                </tr>

                <tr>
                  <td class="tdright">
                    Точки от въпроси 34,35 и 36
                  </td>
                  <td class="rightinpput">
                    <ngx-ctlnumber
                        [formGroup]="mainForm" 
                        controlName="tochki5">
                    </ngx-ctlnumber>
                  </td>
                </tr>

                <tr>
                  <td class="tdright">
                    Точки от въпрос 32
                  </td>
                  <td class="rightinpput">
                    <ngx-ctlnumber
                        [formGroup]="mainForm" 
                        controlName="tochki6">
                    </ngx-ctlnumber>
                  </td>
                </tr>

                <tr>
                  <td class="tdright">
                    Точки от въпроси 37 и 38
                  </td>
                  <td class="rightinpput">
                    <ngx-ctlnumber
                        [formGroup]="mainForm" 
                        controlName="tochki7">
                    </ngx-ctlnumber>
                  </td>
                </tr>                 

                <tr>
                  <td class="tdright">
                    Общо точки
                  </td>
                  <td class="rightinpput">
                    <ngx-ctlnumber
                        [formGroup]="mainForm" 
                        controlName="total">
                    </ngx-ctlnumber>
                  </td>
                </tr>                 
              </tbody>  
            </table>             
          </div>    
        </nb-tab>
      </nb-tabset>
    </form>    
  </nb-card-body>
</nb-card>
