<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert>

<nb-card >
  <nb-card-header>{{mode}} {{user.login}} </nb-card-header>
  <nb-card-body>  
    <div [formGroup]="userForm" class="container-fluid ">
      <div *ngIf="!isProfile"
            class="row row-height justify-content-md-center form-group">
        <div class="col-sm-12"  align="right" >
          <nb-toggle 
              labelPosition="start" 
              formControlName="status">
                Активен
          </nb-toggle>
        </div>
      </div>

      <div class="row row-height justify-content-md-center form-group">
        <label for="input-name" 
              class="col-sm-2 col-form-label">
                Потребител:
        </label>
        <div class="col-sm-6">  
          <input  nbInput
                  autofocus
                  id="input-name"
                  formControlName="login"
                  type="text" 
                  [attr.aria-invalid]="login.invalid && login.touched ? true : null"
          >
          <ngx-validation-message label="Login"
                [showMinLength]="login?.hasError('minlength') && login.touched"
                [showMaxLength]="login?.hasError('maxlength') && login.touched"
                [minLength]="minLoginLength"
                [maxLength]="maxLoginLength"
                [showRequired]="login?.errors?.required && login.touched">
          </ngx-validation-message>
        </div>    
      </div>
    
      <div class="row row-height  justify-content-md-center form-group">
        <label for="input-email" class="col-sm-2 col-form-label">Имейл адрес:</label>
        <div class="col-sm-6">  
          <input  nbInput
                  id="input-email"
                  formControlName="email"
                  type="text" 
                  [attr.aria-invalid]="email.invalid && email.touched ? true : null"
          >
          <ngx-validation-message label="Email address" 
            [showPattern]="email?.hasError('pattern') && email.touched"
            [showRequired]="email?.errors?.required && email.touched">
          </ngx-validation-message>
        </div>
      </div>

      <div class="row row-height  justify-content-md-center form-group">
        <label for="input-telefon" class="col-sm-2 col-form-label">Телефон:</label>
        <div class="col-sm-6">  
          <input  nbInput
                  id="input-telefon"
                  formControlName="telefon"
                  type="text" 
                  [attr.aria-invalid]="telefon.invalid && telefon.touched ? true : null"
          >
        </div>
      </div>

      <div class="row row-height  justify-content-md-center form-group">
        <label for="select-role" class="col-sm-2 col-form-label">Роля:</label>
        <div class="col-sm-6">  
          <nb-select #select1
            id="select-role"
            size="small"
            shape="rectangle"
            fullWidth="true"
            placeholder="Изберете..." 
            formControlName="roleid">
                <nb-option *ngFor="let r of roles" 
                            value="{{r.id}}">
                        {{r.name}}
                </nb-option>
          </nb-select>

          <ngx-validation-message label="Роля" 
            [showRequired]="roleid?.errors?.required && roleid.touched">
          </ngx-validation-message>
        </div>
      </div>

      <div class="row row-height  justify-content-md-center form-group">
        <label for="select-role" class="col-sm-2 col-form-label">Обхват:</label>
        <div class="col-sm-6">  
          <nb-select #select2
            id="select-scope"
            size="small"
            shape="rectangle"
            fullWidth="true"
            formControlName="scopeid"
            placeholder="Изберете..." >
                <nb-option *ngFor="let r of scopes" 
                            value="{{r.id}}">
                        {{r.name}}
                </nb-option>
          </nb-select>

          <ngx-validation-message label="Обхват" 
              [showRequired]="scopeid?.errors?.required && scopeid.touched">
          </ngx-validation-message>
        </div>
      </div>
      
      <div [hidden]="userForm.get('scopeid').value === '2'"  class="row row-height  justify-content-md-center form-group">
        <label for="select-role" class="col-sm-2 col-form-label">Район</label>
        <div class="col-sm-6">  
          <nb-select #select2
              id="select-scope"
              size="small"
              shape="rectangle"
              fullWidth="true"
              formControlName="raionid"
              placeholder="Изберете..." >
                  <nb-option *ngFor="let r of raioni" 
                              value="{{r.nkod}}">
                          {{r.name}}
                  </nb-option>
          </nb-select>
        </div>
      </div>
            
 
      <div class="col-sm-10 btnResetPass" align="right">
        <button nbButton status="info" (click)="resetPassword()" hero>
          Промяна на парола
        </button>
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer>   
    <div class="offset-md-8 col-sm-2 offset-md-2 btnSave" align="right">
      <button nbButton 
              status="primary"
              fullWidth = "true"  
              [disabled]="submitted 
                          || !userForm.valid"
              [class.btn-pulse]="submitted" 
              (click)="save()">
        Запис
      </button>
    </div>    
  </nb-card-footer>
</nb-card>
  
<section class="sign-in-or-up" aria-label="Sign in or sign up">
  <p><a href="javascript:void(0)" class="text-link" (click)="back()">Назад</a></p>
</section>
