@media print {
    .noPrint {
        display: none;
    }

    @page {
        size: A4 portrait !important;
    }

    body {
        color: #000;
        background-color: #fff;
    }

    header, footer, aside, nav, form, iframe, .menu, .hero, .adslot {
        display: none;
    }
}

.container {
    position: relative;
    margin: 5px auto;
    background-color: white;
    padding: 20px;
    min-height: 900px;
    width: 800px;
}


