<ngx-spinner 
    bdColor = "rgba(0, 0, 0, 0.6)"
    size  = "medium" 
    color = "#fff" 
    type  = "timer"
    [fullScreen]="true">
    <p style="color: white" >Моля изчакайте .....</p>
</ngx-spinner>

    <div class="row" style="width: 99%;">
        <div class="col-sm-5">  
            <h6>{{filter.descript}}</h6>
        </div>

        <div class="col-sm-6">
            <p style="line-height: 10px;"><small>Резултат от търсенето за:</small></p> 
            <div class="row">
                <div class="col-sm-12">
                    <p style="line-height: 10px;"><small>{{filter.txtfilter}}</small></p>                
                </div>
            </div>
        </div>

        <div align="right" class="col-sm-1 counter">
            <h3 class="counter">{{countItems}}</h3>
        </div>
    </div>


    <nb-card class="card-container">
        <nb-card-body style="overflow-x: scroll;">
            <div class="row" style="width: 2000px;">
                <table class="page1">
                    <colgroup>
                        <col span="1" style="width: 3%;">
                        <col span="1" style="width: 7%;">
                        <col span="1" style="width: 7%;">
                        <col span="1" style="width: 10%;">
                        <col span="1" style="width: 10%;">
                        <col span="1" style="width: 25%;">
                        <col span="1" style="width: 20%;">
                        <col span="1" style="width: 5%;">
                        <col span="1" style="width: 5%;">
                        <col span="1" style="width: 20%;">
                        <col span="1" style="width: 15%;">
                        <col span="1" style="width: 7%;">
                        <col span="1" style="width: 7%;">
                        <col span="1" style="width: 15%;">
                        <col span="1" style="width: 15%;">
                        <col span="1" style="width: 15%;">
                    </colgroup>

                    <thead>
                        <tr>
                            <th> No </th>    
                            <th> Рег.№</th>    
                            <th> № Договор</th>    
                            <th> Район</th>    
                            <th> Имена</th>    
                            <th> За монтаж</th>    
                            <th> За демонтаж</th>    
                            <th> Статус на лице</th>    
                            <th> Статус на Договор</th>    
                            <th> Адрес</th>    
                            <th> Вид имот</th>    
                            <th> Телефон</th>    
                            <th> Имейл</th>    
                            <th> Коментар</th>    
                            <th> Доп. споразумение №/дата</th>    
                            <th> Доп. споразумение вид </th>    
                        </tr>
                    </thead>   

                    <tbody>
                        <tr *ngFor="let item of items | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; index as i">
                            <td class="tdright">
                                {{(i+1)+(page-1)*pageSize }}
                            </td>
                            <td>{{item.unom}}</td>
                            <td> 
                                <div *ngIf="item.dognomer">
                                    {{item.dognomer}}/{{item.dogdate}}
                                </div>
                            </td>
                            <td>{{item.raion}}</td>
                            <td class="link">
                                <p>
                                    <a href="javascript:void(0)" 
                                        class="text-link" 
                                        (click)="editLice(item)">
                                            {{item.ime}}
                                    </a>
                                </p>
                            </td>
                            <td>
                                <span style="white-space: pre-line">
                                    {{item.txturedi}}
                                </span>
                            </td>
                            <td>
                                <span style="white-space: pre-line">
                                    {{item.txtolduredi}}
                                </span>
                            </td>
                            <td>
                                {{item.status}}
                            </td>
                            <td>
                                {{item.statusF}}
                            </td>
                            <td>
                                <span style="word-wrap: break-word;">
                                    {{item.adres}}
                                </span>
                            </td>
                            <td>
                                {{item.vidimot}}
                            </td>
                            <td>
                                <span style="word-wrap: break-word;">
                                    {{item.telefon}}
                                </span>
                            </td>
                            <td>
                                <span style="word-wrap: break-word;">
                                    {{item.e_mail}}
                                </span>
                            </td>
                            <td>
                                <span style="word-wrap: break-word;">
                                    {{item.komentar}}
                                </span>
                            </td>
                            <td>
                                <span style="word-wrap: break-word;">
                                    {{item.dopspnom}}
                                </span>
                            </td>
                            <td>
                                <span style="word-wrap: break-word;">
                                    {{item.dopspvid}}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>    
        </nb-card-body>        
    </nb-card>    
  
    <div class="row" >
        <div class="col-sm-4">  
            <button nbButton 
                (click)="back()"
                style="margin-right: 5px;"              
                status="primary">
                <nb-icon icon="funnel-outline"></nb-icon>                
                    Филтър
            </button>


            <button nbButton 
                    (click)="exportexcel()"
                    status="primary">
                    <i class="far fa-file-excel" 
                        style="font-size:16px;color:white;margin-right:3px;">
                    </i>
                    Експорт
            </button>

        </div>
        <div class="col-sm-8" >  
            <ngb-pagination 
                class="d-flex justify-content-end ngb-pagination-custom" 
                [collectionSize]="items.length" 
                [(page)]="page" 
                [pageSize]="pageSize"
                [maxSize]="5" 
                [rotate]="true" 
                [ellipses]="false" 
                [boundaryLinks]="true">
            </ngb-pagination>
        </div>
    </div>

    <!-- <div id="print-section" [style.display]="'none'"> 
        <ngx-print-spravka2
            [items] ="realItems"
            [descript] = "filter.descript">
        </ngx-print-spravka2>
    </div> -->
