<nb-card>
  <nb-card-header>
    <span >Добавяне на документ</span>        
  </nb-card-header>
  
  <nb-card-body>
    <div class="container">      
      <div [formGroup]="EditForm">      
          <!-- <div class="row form-group rowItems">    
            <div class="col-sm-12">
              <label for="name">Документ:</label>
              <nb-select #select1
                  id="select-doc"
                  size="small"
                  shape="rectangle"
                  fullWidth="true"
                  placeholder="Изберете..." 
                  formControlName="iddoc">
                      <nb-option *ngFor="let r of vlistdocs" 
                                  value="{{r.id}}">
                              {{r.name}}
                      </nb-option>
                </nb-select>        
            </div>
          </div> -->

          <div class="row form-group rowItems" style="height: 140px;">
            <div class="col-sm-12">
              <label for="name">Описание:</label>
              <textarea nbInput 
                  fullWidth 
                  rows="3"
                  formControlName="text">
              </textarea>
            </div>
          </div>

          <div class="row form-group rowItems">
            <div align="right" class="col-sm-12">
                <input nbInput outline  
                    status = "primary" 
                    id = "uploadBtn"
                    type = "file" 
                    (change)="onFileSelected($event)"
                    style="margin-top: 5px; width: 100%" >  
            </div>
          </div>
        </div>  
    </div>
  </nb-card-body>

  <nb-card-footer>
    <div  align="end">
      <button nbButton 
              type="submit"
              status="primary"  
              [disabled]="!EditForm.valid"
              (click) = "save()">
          Добави
      </button>
      <button nbButton class="btn-close" status="info" (click)="dismiss()" hero>
          Затвори
      </button>
    </div>
  </nb-card-footer>

</nb-card>