<h6 class="content">Договор за монтаж - {{name}} [{{getDogovorNomer()}}]</h6>

<div class="row status">
    <label  for="input-name" 
            class="col-sm-1" style="margin-top:5px">
            Статус договор:
    </label>
    <div class="col-sm-3">               
      <ngx-ctllist
          [items] = vliststatus
          (selectionChanged)="onStatusChanged($event.id)" 
          [formGroup]="mainForm" 
          controlName="status_DM">
      </ngx-ctllist>
    </div>

    <div class="col-sm-8" align = "right">
        <div fxFlex="100" fxLayoutAlign="end center">
            <button nbButton outline
                status ="primary"
                (click) = "exportexcel()">
                <i class="far fa-file-excel" 
                    style="font-size:16px;color:white;margin-right:3px;">
                </i>
                    Експорт
            </button>    

            <button nbButton 
                class="button-next-firmcontracts"
                [disabled]="click"
                (click)="save()">
                Запис
            </button>

            <button nbButton class="button-next-firmcontracts" 
                (click)="back()">
                Назад
            </button>
        </div>                  
    </div>   
</div>

<nb-card>
    <nb-card-body>
        <div [formGroup]="mainForm" class="card-container-1">    
            <nb-tabset>
            <nb-tab tabTitle=" Фирма изпълнител">
                <div class="step-container">
                    <table  class="page1">
                        <colgroup>
                            <col span="1" style="width: 50%;">
                            <col span="1" style="width: 50%;">
                        </colgroup>

                        <tbody>
                            <tr>
                                <td class="tdright">
                                    ЕИК
                                </td>
                                <td>
                                    <input  nbInput 
                                        NgxNumbersOnly                
                                        type="text" 
                                        fieldSize="small"
                                        fullWidth ="true" 
                                        maxlength="13"            
                                        allowDecimals="true"
                                        [formControl]="mainForm.get('firma').get('eik')"
                                        placeholder="Въведете БУЛСТАТ"
                                        (change)="onChangeEvent($event)"
                                        onClick="this.select();">
                                </td>
                            </tr>      

                            <tr>
                                <td class="tdright">
                                    Наименование
                                </td>
                                <td>
                                    <ngx-ctltextbox
                                        [formGroup]="mainForm.get('firma')" 
                                        controlName="ime">
                                    </ngx-ctltextbox>
                                </td>
                            </tr>
                        
                            <tr>
                                <td class="tdright">
                                    Представител
                                </td>
                                <td>
                                    <ngx-ctltextbox
                                        [formGroup]="mainForm.get('firma')" 
                                        controlName="mname">
                                    </ngx-ctltextbox>
                                </td>
                            </tr>      
                            
                            <tr>
                                <td class="tdright">
                                    Длъжност
                                </td>
                                <td>
                                    <ngx-ctltextbox
                                        [formGroup]="mainForm.get('firma')" 
                                        controlName="manager">
                                    </ngx-ctltextbox>
                                </td>
                            </tr>      
                        
                            <tr>
                                <td class="tdright">
                                    Адрес
                                </td>
                                <td>
                                    <ngx-ctltextbox
                                        [formGroup]="mainForm.get('firma')" 
                                        controlName="adres">
                                    </ngx-ctltextbox>
                                </td>
                            </tr>      
                                                    
                            <tr>
                                <td class="tdright">
                                    Пощенски код
                                </td>
                                <td>
                                    <ngx-ctltextbox
                                        [formGroup]="mainForm.get('firma')" 
                                        controlName="postKode">
                                    </ngx-ctltextbox>
                                </td>  
                            </tr>  
                        
                            <tr>
                                <td class="tdright">
                                    Електронен адрес (email)
                                </td>
                                <td>
                                    <ngx-ctltextbox
                                        [formGroup]="mainForm.get('firma')" 
                                        controlName="email">
                                    </ngx-ctltextbox>
                                </td>  
                            </tr>  
                        
                            <tr>
                                <td class="tdright">
                                    Телефон
                                </td>
                                <td>
                                    <ngx-ctltextbox
                                        [formGroup]="mainForm.get('firma')" 
                                        controlName="telefon">
                                    </ngx-ctltextbox>
                                </td>  
                            </tr>  
                        </tbody>  
                    </table>      
                </div>    
            </nb-tab>

            <nb-tab tabTitle="Договор">
                <div class="step-container">        
                  <table  class="page1">
                      <colgroup>
                          <col span="1" style="width: 50%;">
                          <col span="1" style="width: 50%;">
                      </colgroup>

                      <tbody>
                          <tr>
                              <td class="tdright">
                                  Номер на договора
                              </td>
                              <td>
                                  <ngx-ctltextbox
                                      [formGroup]="mainForm" 
                                      controlName="regnom">
                                  </ngx-ctltextbox>
                              </td>
                          </tr>        

                          <tr>
                              <td class="tdright">
                                  Дата на договора
                              </td>
                              <td>
                                  <ngx-ctldatepicker
                                      [formGroup]="mainForm" 
                                      controlName="regnomdata">
                                  </ngx-ctldatepicker>                               
                              </td>
                          </tr>    
                          
                          <!-- <tr>
                              <td class="tdright">
                                  Номер в СУДСО
                              </td>
                              <td>
                                  <ngx-ctltextbox
                                      [formGroup]="mainForm" 
                                      controlName="nomdgsudso">
                                      </ngx-ctltextbox>
                              </td>
                          </tr>  
-->
                          <tr>
                              <td class="tdright">
                                  Начална дата
                              </td>
                              <td>
                                  <ngx-ctldatepicker
                                      [formGroup]="mainForm" 
                                      controlName="nachalnadata">
                                  </ngx-ctldatepicker>                               
                                  
                              </td>
                          </tr>    

                          <tr>
                              <td class="tdright">
                                  Срок (в дни)
                              </td>
                              <td>
                                  <ngx-ctlnumber
                                      [formGroup]="mainForm" 
                                      controlName="srokgrafic">
                                  </ngx-ctlnumber>                        
                              </td>
                          </tr>    
                              
                          <tr>
                              <td class="tdright">
                                  Обща цена без ДДС
                              </td>
                              <td>
                                  <ngx-ctlcurrency
                                      [formGroup]="mainForm" 
                                      controlName="cenabezdds">
                                  </ngx-ctlcurrency>                        
                              </td>
                          </tr>    

                          <tr>
                              <td class="tdright">
                                  Обща цена с ДДС
                              </td>
                              <td>
                                  <ngx-ctlcurrency
                                      [formGroup]="mainForm"
                                      controlName="cenadds">
                                  </ngx-ctlcurrency>                        
                              </td>
                          </tr>    
                      </tbody>  
                  </table>

                  <div align ="right">
                    <p><a href="javascript:void(0)" 
                        class="text-link" 
                        (click)="addItemPayment()">Добави плащане</a>
                    </p>
                </div>       

                <table  class="page1">
                    <colgroup>
                        <col span="1" style="width: 5%;">
                        <col span="1" style="width: 60%;">
                        <col span="1" style="width: 20%;">
                        <col span="1" style="width: 20%;">
                        <col span="1" style="width: 5%;">
                    </colgroup>

                    <tr>
                        <th> № </th>    
                        <th> Плащане</th>    
                        <th> Сума без ДДС </th>    
                        <th> Сума с ДДС</th>    
                        <th> </th>    
                    </tr>

                    <tbody>    
                    
                        <tr  *ngFor = "let item of payments.controls; let i = index;">
                            <td class="tdcenter">
                                {{i+1}}
                            </td>
                            <td>
                                <ngx-ctllist
                                    [items] = vlistpayment
                                    [formGroup]="item" 
                                    controlName="id">
                                </ngx-ctllist>
                            </td>
                            <td>
                                <ngx-ctlcurrency
                                    [formGroup]="item" 
                                    controlName="sumabezdds">
                                </ngx-ctlcurrency>        
                            </td>
                            <td>
                                <ngx-ctlcurrency
                                    [formGroup]="item" 
                                    controlName="sumasdds">
                                </ngx-ctlcurrency>        
                            </td>
                    
                            <td class="tdcenter">
                                <nb-icon 
                                    nbTooltip="Изтриване" 
                                    nbTooltipPlacement="bottom"
                                    icon="trash-outline"
                                    [options]="{ animation: { type: 'zoom' } }"
                                    (click) ="removeItemPayment(i)">
                                </nb-icon>
                            </td>
                        </tr>  
                    </tbody>  
                </table>                    
              </div>    
            </nb-tab>            

            <nb-tab tabTitle="Райони">
                <div class="step-container">
                    <div class="tdalign add-ured-link" align ="right">
                            <p>
                                <a href="javascript:void(0)" 
                                class="text-link" 
                                (click)="addRaionItem()">Добави
                                </a>
                            </p>
                    </div>

                    <table  class="page1">
                        <colgroup>
                            <col span="1" style="width: 5%;">
                            <col span="1" style="width: 90%;">
                            <col span="1" style="width: 5%;">
                        </colgroup>
    
                        <tbody>      
                            <tr  *ngFor = "let item of frmraioni.controls; let i = index;">
                                <td class="tdcenter">
                                    {{i+1}}.
                                </td>

                                <td>
                                    <ngx-ctllist
                                        [items] = raioni
                                        [formGroup]="item" 
                                        [disable] = "disabled"   
                                        controlName="nkod">
                                    </ngx-ctllist>
                                </td>
                                <td class="tdcenter">
                                    <nb-icon 
                                        nbTooltip="Изтриване" 
                                        nbTooltipPlacement="bottom"
                                        icon="trash-outline"
                                        [options]="{ animation: { type: 'zoom' } }"
                                        (click) ="removeRaionItem(i)">
                                    </nb-icon>
                                </td>
                            </tr>                            
                        </tbody>  
                    </table>
                </div>    
            </nb-tab>            

            <nb-tab tabTitle="Задание за монтаж">
                <div class="step-container">
                    <div align ="right">
                        <p><a href="javascript:void(0)" 
                            class="text-link" 
                            (click)="addItem()">Добави</a>
                        </p>
                    </div>       

                    <table  class="page1">
                        <colgroup>
                            <col span="1" style="width: 3%;">
                            <col span="1" style="width: 50%;">
                            <col span="1" style="width: 10%;">
                            <col span="1" style="width: 10%;">
                            <col span="1" style="width: 7%;">
                            <col span="1" style="width: 10%;">
                            <col span="1" style="width: 10%;">
                            <col span="1" style="width: 3%;">
                        </colgroup>

                        <tr>
                            <th> № </th>    
                            <th> Уред за монтаж</th>    
                            <th> Гаранц. срок </th>    
                            <th> Профи-лактика </th>    
                            <th> Колич. брой </th>    
                            <th> Ед. цена без ДДС</th>    
                            <th> Обща цена без ДДС</th>    
                            <th> </th>    
                        </tr>

                        <tbody>    
                        
                            <tr  *ngFor = "let item of uredi.controls; let i = index;">
                                <td class="tdcenter">
                                    {{i+1}}
                                </td>
                                <td>
                                    <ngx-ctllist
                                        [items] = vlistv43
                                        [formGroup]="item" 
                                        [disable] = "disable"
                                        controlName="idured">
                                    </ngx-ctllist>
                                </td>

                                <td>
                                    <ngx-ctlnumber
                                        [formGroup]="item" 
                                        [disable] = "disable"
                                        controlName="garancia">
                                    </ngx-ctlnumber>        
                                </td>

                                <td>
                                    <ngx-ctlnumber
                                        [formGroup]="item" 
                                        [disable] = "disable"
                                        controlName="profilaktika">
                                    </ngx-ctlnumber>        
                                </td>

                                <td>
                                    <ngx-ctlnumber
                                        [formGroup]="item" 
                                        [disable] = "disable"
                                        (change) ="calculatePrice(item)"
                                        controlName="broi">
                                    </ngx-ctlnumber>        
                                </td>

                                <td>
                                    <ngx-ctlcurrency
                                        [formGroup]="item" 
                                        [disable] = "disable"
                                        (change) ="calculatePrice(item)"
                                        controlName="edcena">
                                    </ngx-ctlcurrency>        
                                </td>
                        
                                <td>
                                    <ngx-ctlcurrency
                                        [formGroup]="item" 
                                        controlName="total">
                                    </ngx-ctlcurrency>        
                                </td>

                                <td class="tdcenter">
                                    <nb-icon 
                                        nbTooltip="Изтриване" 
                                        nbTooltipPlacement="bottom"
                                        icon="trash-outline"
                                        [options]="{ animation: { type: 'zoom' } }"
                                        (click) ="removeItem(i)">
                                    </nb-icon>
                                </td>
                            </tr>  
                        </tbody>  
                    </table>    
                </div> 
             </nb-tab>

             <nb-tab tabTitle="Прикачени документи" [disabled]="mainForm.get('iddog').value === 0">
                <div class="step-container">
                    <div class="btn-holder" align="right">
                      <button nbButton 
                            status="basic" 
                            (click)="addDocItem()">
                          <nb-icon 
                              icon="file-add-outline" 
                              [options]="{ animation: { type: 'zoom' } }">
                          </nb-icon>
                          Добави
                      </button>
                    </div>
              
                    <table  class="page1">
                      <colgroup>
                        <col span="1" style="width: 5%;">
                        <col span="1" style="width: 55%;">
                        <col span="1" style="width: 30%;">
                        <col span="1" style="width: 5%;">
                        <col span="1" style="width: 5%;">
                      </colgroup>
              
                      <tbody>
                        <tr  *ngFor = "let item of dokumenti; let i = index;">
                          <td class="tdcenter">
                              {{i+1}}
                          </td>
                          <td> {{item.description}}</td>
                          <td> {{item.filename}}</td>
                          <td class="tdcenter" (click)="downloadItem(item)">
                              <nb-icon 
                                nbTooltip="Преглед" 
                                nbTooltipPlacement="bottom"
                                icon="attach-outline">
                              </nb-icon>
                          </td>
                          <td class="tdcenter" (click)="removeDocItem(item)">
                              <nb-icon 
                                  nbTooltip="Изтриване" 
                                  nbTooltipPlacement="bottom"
                                  icon="trash-outline">
                                </nb-icon>
                          </td>
                        </tr>  
                      </tbody>  
                    </table>
                </div>        
              </nb-tab>                
        </nb-tabset>  
    </div>    
  </nb-card-body>
</nb-card>
    
      
    
  
