<div>
    <h1>Регистър</h1>

    <div style="padding-bottom:10px;padding-top:10px;">
        Версия: {{version}}
    </div>

    <div style="padding-bottom:20px;">
        Компилирана на: {{versdate}}
    </div>

    <div style="padding-bottom:10px;padding-top:10px;padding-right: 100px;">
        Проект № BG16M1ОP002-5.003.0001-C01 „Подобряване качеството на атмосферния въздух 
        в Столична община чрез подмяна на отоплителни устройства на твърдо гориво с 
        екологични алтернативи”, който се реализира с финансовата подкрепа на Оперативна 
        програма „Околна среда 2014-2020г.“, съфинансиран от Европейския съюз чрез 
        Кохезионния фонд и от националния бюджет на Република България.
    </div>

    <hr>

    <nb-card class="card-container-2">
        <nb-card-body>
            <div class="row" >
                <div class="col-sm-2" style="height: 20vh;" >
                    <img src="assets/img/Logo.png" 
                            style="width:120px; height:110px;margin-top:40px;margin-bottom:250px;" />
                </div>
                <div class="col-sm-10" style="margin-top:50px; height: 20vh;">
                    <div class="col-md-12">
                        Copyright 2019, TbSoft
                    </div>

                    <div class="col-md-12">
                        Home page: https://www.tbsoft.bg
                    </div>
                    <div class="col-md-12">
                        Тelephone: +359 888 405030
                    </div>
                    <div class="col-md-12">
                        Email: krassimir.kirilov@gmail.com
                    </div>
                </div>
            </div>
        </nb-card-body>
    </nb-card>
</div>