
<table  class="page4">
    <colgroup>
      <col span="1" style="width: 5%;">
      <col span="1" style="width: 50%;">
      <col span="1" style="width: 20%;">
      <col span="1" style="width: 20%;">
    </colgroup>

    <tbody>
      <tr  *ngFor = "let item of items; let i = index;">
        <td class="tdcenter">
            {{i+1}}
        </td>
        <td>
            {{item.ime}}
        </td>
        <td class="tdcenter">
          {{item.statusL}}
        </td>
        <td class="tdcenter">
          {{item.dogdate}}
        </td>
      </tr>  
    </tbody>  
</table>


