<div class="form-header-container add-button">
    <div fxLayout="row" fxLayoutGap="20px">
        <div fxFlex="85" fxLayoutAlign="start center">
            <h6>Списък договори с фирми за монтаж</h6>
        </div>
        <div fxFlex="5" fxLayoutAlign="end center">
            <nb-search 
                type="rotate-layout"
                hint="За търсене натиснете 'ENTER'"
                placeholder="Търсене ...">
            </nb-search>
        </div>
        <div fxFlex="10" fxLayoutAlign="end center">
            <button nbButton                     
                    status="primary" 
                    [disabled] = "isDisabled"
                    (click)="addItem()">
                <nb-icon 
                    icon="plus-outline" 
                    [options]="{ animation: { type: 'zoom' } }">
                </nb-icon>
                    Добави
            </button>
        </div>
    </div>
</div>

<nb-card class="card-container">
    <nb-card-body>
        <table  class="page1">
            <colgroup>
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 40%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 5%;">
                <col span="1" style="width: 5%;">
                <col span="1" style="width: 3%;">
                <!-- <col span="1" style="width: 3%;"> -->
            </colgroup>

            <thead>
                <tr>
                    <th> ЕИК </th>    
                    <th> Наименование на фирмата</th>    
                    <th> Договор</th>    
                    <th> Статус </th>    
                    <th> Задание </th>    
                    <th> </th>    
                    <!-- <th> </th>     -->
                </tr>
            </thead>        
            <tbody>
                <tr *ngFor="let item of items | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                    <td class="tdcenter">
                        {{item.eik}}
                    </td>
                    <td>{{item.ime}}</td>
                    <td>{{item.regnomer}}</td>
                    <td>{{item.statusdm}}</td>
                    <td>{{item.statusur}}</td>
                    
                    <td class="tdcenter">
                        <nb-icon icon="edit-outline" (click)="editItem(item)"></nb-icon>
                    </td>
                    <!-- <td class="tdcenter">
                        <nb-icon icon="trash-outline" (click)="removeItem(item.id)">
                    </nb-icon></td> -->
                </tr>
            </tbody>
        </table>
    </nb-card-body>
  </nb-card>

  <ngb-pagination 
        class="d-flex justify-content-end ngb-pagination-custom" 
        [collectionSize]="items.length" 
        [(page)]="page" 
        [pageSize]="pageSize"
        [maxSize]="5" 
        [rotate]="true" 
        [ellipses]="false" 
        [boundaryLinks]="true">
  </ngb-pagination>