.container {
    width: 40vw;
}

.codecontainer {
    width : 10vw;
}

.rowItems {
    height: 60px;
}

.errorTxt {
    color:red;
}

.btn-close {
    margin-left: 5px;
}

.rightinpput {
    text-align: right;
    float: right;
    width: 120px;
}