USE [heaters]
GO

/*
ALTER DATABASE CURRENT COLLATE Cyrillic_General_CI_AS
go
*/

SET NOCOUNT ON

truncate table UserObhvat
go 

truncate table UserRoles
go

delete from users
go

set IDENTITY_INSERT users  on
go

insert into users (id,login,password,email,isdeleted, status)
	values (1,'admin','AQAAAAEAACcQAAAAEBxUIexQMtZ/RZBV0yZ6OFCgNXD6GgpWrfFYJiDjjwmk1H5YWML/OLU1iDKWWCktXQ==','admin@abv.bg',0,1)
go

 insert into users (id,login,password,email,isdeleted,status)
	values (2,'user','AQAAAAEAACcQAAAAEBxUIexQMtZ/RZBV0yZ6OFCgNXD6GgpWrfFYJiDjjwmk1H5YWML/OLU1iDKWWCktXQ==','user@abv.bg',0,1)
go	

set IDENTITY_INSERT users  off
go


DELETE FROM [n_odit_log]
go

set IDENTITY_INSERT [n_odit_log]  on
insert into [n_odit_log] (id,text) values(1,'Log In')
insert into [n_odit_log] (id,text) values(2,'Log Out')
insert into [n_odit_log] (id,text) values(3,'Промяна на статус')
set IDENTITY_INSERT [n_odit_log]  off
go



  
set IDENTITY_INSERT users  off
go


DELETE FROM [Roles]
go

set IDENTITY_INSERT [Roles]  on
insert into [Roles] (id,name) values(1,'Оператор')
insert into [Roles] (id,name) values(2,'Наблюдател')
insert into [Roles] (id,name) values(9,'Администратор')
set IDENTITY_INSERT [Roles]  off
go

DELETE FROM [Obhvat]
go

set IDENTITY_INSERT [Obhvat]  on
insert into [Obhvat] (id,name) values(1,'Локален')
insert into [Obhvat] (id,name) values(2,'Глобален')
set IDENTITY_INSERT [Obhvat]  off
go

insert into UserRoles values (2,1)
go

insert into UserRoles values (1,9)
go

insert into UserObhvat values (1,2,'0')
go

insert into UserObhvat values (2,2,'0')
go



DELETE FROM N_SPISYK_NMN;
go

INSERT INTO N_SPISYK_NMN(KOD_NMN,STATUS,FAZA,VYPROS,Tablica_vBazata,IME,KOMENTAR) 
 VALUES ('01','1','0','n_lice','n_nmn_obsti','Вид лице','lice')
GO
INSERT INTO N_SPISYK_NMN(KOD_NMN,STATUS,FAZA,VYPROS,Tablica_vBazata,IME,KOMENTAR) 
 VALUES ('02','1','0','n_idnt','n_nmn_obsti','Вид идентификатор на лице','lice')
GO
INSERT INTO N_SPISYK_NMN(KOD_NMN,STATUS,FAZA,VYPROS,Tablica_vBazata,IME,KOMENTAR) 
 VALUES ('03','1','0','v8','n_nmn_obsti','Вид собственост','lice')
GO

DELETE FROM N_NMN_OBSHTI;
go


set IDENTITY_INSERT [N_NMN_OBSHTI]  on

INSERT INTO N_NMN_OBSHTI(ID_KN,STATUS,FAZA,VYPROS,KOD_NMN,KOD_POZICIA,TEXT) 
 VALUES ('1','1','0','n_lice','01','1','Физическо')
GO
INSERT INTO N_NMN_OBSHTI(ID_KN,STATUS,FAZA,VYPROS,KOD_NMN,KOD_POZICIA,TEXT) 
 VALUES ('2','1','0','n_lice','01','2','Колектив')
GO
INSERT INTO N_NMN_OBSHTI(ID_KN,STATUS,FAZA,VYPROS,KOD_NMN,KOD_POZICIA,TEXT) 
 VALUES ('3','1','0','n_lice','01','3','Юридическо')
GO
set IDENTITY_INSERT [N_NMN_OBSHTI]  off


TRUNCATE TABLE n_jk
go

INSERT [n_jk] ([nkod], [nime]) VALUES (N'01', N'ж.к. БАНИШОРА')
INSERT [n_jk] ([nkod], [nime]) VALUES (N'02', N'ж.к. БЕЛИТЕ БРЕЗИ')
INSERT [n_jk] ([nkod], [nime]) VALUES (N'03', N'ж.к. БОРОВО')
GO

TRUNCATE TABLE n_kmetstva
INSERT [n_kmetstva] ([nkod], [nime]) VALUES (N'SOF46-31', N'Бусманци')
INSERT [n_kmetstva] ([nkod], [nime]) VALUES (N'SOF46-32', N'Владая')
INSERT [n_kmetstva] ([nkod], [nime]) VALUES (N'SOF46-33', N'Мърчаево')
go

UPDATE n_jk set Status=1
GO

TRUNCATE TABLE n_ns_mesta
go

INSERT [n_ns_mesta] ([nkod], [nime], [Kmetstvo], [kod_nmn]) VALUES (N'00357', N'гр.Нови Искър', N'SOF46-00', N'21')
INSERT [n_ns_mesta] ([nkod], [nime], [Kmetstvo], [kod_nmn]) VALUES (N'02511', N'с.Балша', N'SOF46-36', N'21')
INSERT [n_ns_mesta] ([nkod], [nime], [Kmetstvo], [kod_nmn]) VALUES (N'02659', N'гр.Банкя', N'SOF46-00', N'21')

UPDATE n_ns_mesta set Status=1
GO

TRUNCATE TABLE n_raioni

INSERT [n_raioni] ([NKOD], [NIME]) VALUES (N'01', N'СРЕДЕЦ')
INSERT [n_raioni] ([NKOD], [NIME]) VALUES (N'02', N'КРАСНО СЕЛО')
INSERT [n_raioni] ([NKOD], [NIME]) VALUES (N'03', N'ВЪЗРАЖДАНЕ')
go

UPDATE n_raioni set Status=1
GO


SET IDENTITY_INSERT N_UREDI ON 
go

DELETE FROM N_UREDI;

INSERT INTO N_UREDI(ID,FAZA,NKOD,NIME,MAXBR,DOPRAD,STATUS,KOLECTFORM,NIME2,NKOD2,
VID) 
 VALUES (1,0,'0100','Уреди на пелети',0,0,0,0,null,null,null)
GO
INSERT INTO N_UREDI(ID,FAZA,NKOD,NIME,MAXBR,DOPRAD,STATUS,KOLECTFORM,NIME2,NKOD2,
VID) 
 VALUES (2,0,'0101','Топловъздушна пелетна камина със закрита горивна камера 6 kW +/- 10%',
1,0,1,0,null,null,'PEL')
GO
INSERT INTO N_UREDI(ID,FAZA,NKOD,NIME,MAXBR,DOPRAD,STATUS,KOLECTFORM,NIME2,NKOD2,
VID) 
 VALUES (3,0,'0102','Топловъздушна пелетна камина със закрита горивна камера 8 kW +/- 10%',
1,0,1,0,null,null,'PEL')
GO


SET IDENTITY_INSERT N_UREDI OFF


SET IDENTITY_INSERT [n_statusi] ON 

TRUNCATE TABLE n_statusi


INSERT INTO N_STATUSI(ID_ST,FAZA,TABLE_NAME,STATUS_NAME,STATUS_CODE,TEXT,
STATUS,KOMENTAR,KOD_NMN) 
 VALUES (1,0,null,'Status',1,'Активен',1,'Общ статус','26')
GO
INSERT INTO N_STATUSI(ID_ST,FAZA,TABLE_NAME,STATUS_NAME,STATUS_CODE,TEXT,
STATUS,KOMENTAR,KOD_NMN) 
 VALUES (2,0,null,'Status',0,'Неактивен',1,null,'26')
GO
INSERT INTO N_STATUSI(ID_ST,FAZA,TABLE_NAME,STATUS_NAME,STATUS_CODE,TEXT,
STATUS,KOMENTAR,KOD_NMN) 
 VALUES (3,0,null,'Status_L',1,'Кандидат',1,'Поле на таблица Lica','26')
GO


SET IDENTITY_INSERT [n_statusi] OFF

TRUNCATE TABLE n_ulicii

INSERT [n_ulicii] ([nkod], [wnasm_nkod], [wnuli_nkod], [nime], [kod_nmn]) VALUES (N'00001', N'00357', N'75013', N'УЛ.КОЦЕ ПЕТРОВ БУРГОВ', N'24')
INSERT [n_ulicii] ([nkod], [wnasm_nkod], [wnuli_nkod], [nime], [kod_nmn]) VALUES (N'00002', N'00357', N'75023', N'УЛ.СВ.КЛИМЕНТ ОХРИДСКИ', N'24')
INSERT [n_ulicii] ([nkod], [wnasm_nkod], [wnuli_nkod], [nime], [kod_nmn]) VALUES (N'00003', N'00357', N'75037', N'УЛ.АКАЦИИТЕ', N'24')
GO


INSERT INTO N_ULICII(NKOD,WNULI_NKOD,WNASM_NKOD,NIME,KOD_NMN,STATUS) 
 VALUES ('05000',50000,'68134','УЛ.ЧЕЛОПЕШКО ШОСЕ',24,1)
GO
INSERT INTO N_ULICII(NKOD,WNULI_NKOD,WNASM_NKOD,NIME,KOD_NMN,STATUS) 
 VALUES ('05001',50001,'68134','УЛ.БРАТИЯ',24,1)
GO
INSERT INTO N_ULICII(NKOD,WNULI_NKOD,WNASM_NKOD,NIME,KOD_NMN,STATUS) 
 VALUES ('05002',50002,'68134','УЛ.ЕДИНСТВО',24,1)
GO

UPDATE n_ulicii set Status=1
GO


TRUNCATE TABLE n_shablon_f

INSERT [n_shablon_f] ([ID_N], [Faza], [Vypros], [TBL_vBD], [Poleta], [Text], [Status]) VALUES (1, N'0', N'V1', N'1', 0, NULL, N'1')
INSERT [n_shablon_f] ([ID_N], [Faza], [Vypros], [TBL_vBD], [Poleta], [Text], [Status]) VALUES (2, N'0', N'V2', N'1', 0, NULL, N'1')
INSERT [n_shablon_f] ([ID_N], [Faza], [Vypros], [TBL_vBD], [Poleta], [Text], [Status]) VALUES (3, N'0', N'V3', N'1', 0, NULL, N'1')
GO

TRUNCATE TABLE n_spravki

INSERT [n_spravki] ([Status],[Faza],[Ime],[Komentar],[Tip]) 
VALUES (1, 0, 'Оценки и класиране на лица','',0)

INSERT [n_spravki] ([Status],[Faza],[Ime],[Komentar],[Tip]) 
VALUES (1, 0, 'Списък на заявените уреди','',0)

INSERT [n_spravki] ([Status],[Faza],[Ime],[Komentar],[Tip]) 
VALUES (1, 0, 'Списък на договорираните уреди','',0)











GO


DELETE FROM [n_kid]
GO 
INSERT [n_kid] ([nkod],[nime],[status]) 
VALUES ('00', 'Няма данни',1)
GO


update n_jk set Status=1
go

update n_kmetstva set Status=1
go

update n_ns_mesta set Status=1
go

update n_raioni set Status=1
go

update n_ulicii set Status=1
go

update N_UREDI set status = 0 
where right(nkod,2) = '00'
go



SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

DROP VIEW [dbo].[vwUrDem]
GO

CREATE VIEW [dbo].[vwUrDem] AS 
SELECT f.ID_L, f.U_nom, 
STRING_AGG (nom.text + ' - ' + TRIM(STR(oldur.Broi)) + ' бр.', ' ; ') AS UrDem,
STRING_AGG (TRIM(str(oldur.Broi)), ' ; ') AS BrDem,
STRING_AGG (oldur.Id_KT, ' ; ') AS KodUrDem
FROM lica_formuliar f 
LEFT JOIN lica_formuliar_olduredi oldur ON f.Id_L=oldur.Id_L
LEFT JOIN n_nmn_obshti nom ON nom.id_kn=oldur.Id_KT
/*WHERE nom.text like '%Камина%'*/
GROUP BY f.UNomer, f.U_nom, f.ID_L
GO


DROP VIEW [dbo].[vwUrIRad]
GO

CREATE VIEW [dbo].[vwUrIRad] AS 
SELECT l.IdL as ID_L, f.ID_Formuliar, f.U_nom, r.NIME AS Raion, l.IME,
STRING_AGG (nur.nime + ' - ' + TRIM(STR(u.Broi)) + ' бр.', ' ; ') WITHIN GROUP (ORDER BY nur.nkod) AS UrIRad, 
STRING_AGG (TRIM(str(u.Broi)), ' ; ')  AS Broi,
STRING_AGG (nur.nkod, ' ; ') WITHIN GROUP (ORDER BY nur.nkod) AS KodUrIRad, 
STRING_AGG (iif(substring(nur.nkod,1,2)<>'04',nur.nime + ' - ' + TRIM(STR(u.Broi)) + ' бр.',null), ' ; ') 
 WITHIN GROUP (ORDER BY nur.nkod) AS UrBezRad, 
STRING_AGG (iif(substring(nur.nkod,1,2)<>'04',TRIM(str(u.Broi)),null), ' ; ') 
 WITHIN GROUP (ORDER BY nur.nkod) AS BrUr,
STRING_AGG (iif(substring(nur.nkod,1,2)= '04',nur.nime + ' - ' + TRIM(STR(u.Broi)) + ' бр.',null), ' ; ')
 WITHIN GROUP (ORDER BY nur.nkod) AS Rad,
STRING_AGG (iif(substring(nur.nkod,1,2)='04',TRIM(str(u.Broi)),null), ' ; ')
 WITHIN GROUP (ORDER BY nur.nkod) AS BrRad,
f.UNomer
FROM lica_formuliar f 
LEFT JOIN lica_formuliar_kolektiv l ON f.Id_L=l.IdL and l.IsTitulqr =1 and l.Status = 1
LEFT JOIN lica_formuliar_uredi u ON f.Id_L=u.Id_L
LEFT JOIN n_uredi nur ON u.Id_KT=nur.Id
LEFT JOIN n_raioni r ON r.NKOD=l.A_Raion
/*WHERE IME='Веселин Георгиев Атанасов'*/
/*WHERE substring(nur.nime,1,4)='Клим'*/
GROUP BY f.UNomer, f.U_nom, l.IME, r.NIME, f.ID_Formuliar, l.IdL
GO




drop VIEW [dbo].[vwAdres] 
go

CREATE VIEW [dbo].[vwAdres] AS 
SELECT l.IdL as ID_L,f.U_nom,
'район: '+ r.NIME + ' , ' + nm.nime +
IIF (jk.nime IS NOT NULL , ', ' + jk.nime, '')+
IIF (ul.nime IS NOT NULL , ', ' + ul.nime, '')+
IIF ((l.nomer IS NOT NULL AND l.nomer<>'0'), ' № ' + l.nomer, '')+
IIF ((l.Blok IS NOT NULL AND l.Blok<>''), ', бл. ' + l.Blok, '')+
IIF ((l.etaj IS NOT NULL AND l.etaj<>''), ', ет. ' + l.etaj, '')+
IIF ((l.ap IS NOT NULL AND l.ap<>''), ', ап. ' + l.ap, '') As Adres,
f.UNomer, l.e_mail E_Mail, l.tel Telefon, n.Text vidimot
FROM lica_formuliar f 
LEFT JOIN lica_formuliar_kolektiv l ON f.Id_L=l.IdL and l.IsTitulqr =1 and l.Status = 1
LEFT JOIN n_raioni r ON r.NKOD=l.A_Raion
LEFT JOIN n_ns_mesta nm ON l.nm=nm.nkod
LEFT JOIN n_jk AS jk ON l.jk=jk.nkod
LEFT JOIN n_ulicii AS ul ON l.ul=ul.nkod and ul.wnasm_nkod=l.NM
LEFT JOIN n_nmn_obshti n ON f.nV9 = n.id_kn and n.kod_nmn = '04' and n.status=1
GO

drop VIEW [dbo].[vwDUrIRad] 
go

CREATE VIEW [dbo].[vwDUrIRad] AS 
SELECT l.IdL as ID_L, f.U_nom, r.NIME AS Raion, l.IME,
STRING_AGG (nur.nime + ' - ' + TRIM(STR(du.Broi)) + ' бр.', ' ; ') WITHIN GROUP (ORDER BY nur.nkod) AS DUrIRad,  
STRING_AGG (TRIM(str(du.Broi)), ' ; ')  AS DBroi,
STRING_AGG (nur.nkod, ' ; ') WITHIN GROUP (ORDER BY nur.nkod) AS DKodUrIRad,  
STRING_AGG (iif(substring(nur.nkod,1,2)<>'04',nur.nime + ' - ' + TRIM(STR(du.Broi)) + ' бр.',null), ' ; ') 
 WITHIN GROUP (ORDER BY nur.nkod) AS DUrBezRad, 
STRING_AGG (iif(substring(nur.nkod,1,2)<>'04',TRIM(str(du.Broi)),null), ' ; ') 
 WITHIN GROUP (ORDER BY nur.nkod) AS DBrUr,
STRING_AGG (iif(substring(nur.nkod,1,2)= '04',nur.nime + ' - ' + TRIM(STR(du.Broi)) + ' бр.',null), ' ; ')
 WITHIN GROUP (ORDER BY nur.nkod) AS DRad,
STRING_AGG (iif(substring(nur.nkod,1,2)='04',TRIM(str(du.Broi)),null), ' ; ')
 WITHIN GROUP (ORDER BY nur.nkod) AS DBrRad,
f.UNomer
FROM lica_formuliar f 
LEFT JOIN lica_formuliar_kolektiv l ON f.Id_L=l.IdL and l.IsTitulqr =1 and l.Status = 1
LEFT JOIN lica_dogovor_uredi du ON f.Id_L=du.Id_L
LEFT JOIN n_uredi nur ON du.Id_KT=nur.Id
LEFT JOIN n_raioni r ON r.NKOD=l.A_Raion
/*WHERE IME='Веселин Георгиев Атанасов'*/
/*WHERE substring(nur.nime,1,4)='Клим'*/
GROUP BY f.UNomer, f.U_nom, l.IME, r.NIME, l.IdL
/*HAVING STRING_AGG (nur.nkod, ' ; ') LIKE '%0323%'*/
/*HAVING STRING_AGG (nur.nime, ' ; ') Is NOT NULL*/
GO



DROP VIEW [dbo].[vwStatusi] 
go

CREATE VIEW [dbo].[vwStatusi] AS 
SELECT l.IdL, f.U_nom, s.[Text] AS StatF, sl.[Text] AS StatL, sdl.[Text] AS StatDL,f.UNomer
FROM lica_formuliar f 
LEFT JOIN lica_formuliar_kolektiv l ON f.Id_L=l.IdL and l.IsTitulqr =1 and l.Status = 1
LEFT JOIN lica_dogovor dl ON f.Id_L=dl.Id_L
LEFT JOIN n_statusi s ON s.Status_Code=f.Status_F AND s.Status_name='Status_F'
LEFT JOIN n_statusi sl ON sl.Status_Code=l.StatusL AND sl.Status_name='Status_L'
LEFT JOIN n_statusi sdl ON sdl.Status_Code=dl.Status_DL AND sdl.Status_name='Status_DL'
GO

DROP VIEW [dbo].[vwOPOS]
go

CREATE VIEW [dbo].[vwOPOS] AS 
SELECT u.ID_L, u.ID_Formuliar, u.U_nom, u.Raion, u.IME, 
u.UrIRad, u.Broi,u.KodUrIRad, u.UrBezRad,u.BrUr, u.Rad, u.BrRad,
du.DUrIRad, du.DBroi,du.DKodUrIRad, du.DUrBezRad,du.DBrUr, du.DRad, du.DBrRad,
dm.UrDem, dm.BrDem, dm.KodUrDem, a.Adres, a.E_Mail, a.Telefon, a.vidimot,
s.StatF, s.StatL, s.StatDL, u.UNomer
FROM vwUrIRad u 
LEFT JOIN vwDUrIRad du on u.ID_L=du.ID_L
LEFT JOIN vwUrDem dm on u.ID_L=dm.ID_L
LEFT JOIN vwAdres a on u.ID_L=a.ID_L
LEFT JOIN vwStatusi s on u.ID_L=s.IdL
ORDER BY UNomer
OFFSET 0 ROWS
GO

