@import 'src/app/@theme/styles/my.tables';
@import 'src/app/@theme/styles/my.host';


.link p {
    padding: 0px !important;
    margin: 0px !important;
}

.col-nopadding {
    padding: 0px !important;
    margin: 0px !important;
}